<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= content_for(:title) || "App" %></title>

    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/uno.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind-compat.min.css" />
    <style>
        [un-cloak] {
            display: none;
        }
    </style>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>
  <body class="min-h-screen bg-slate-50 text-slate-900 antialiased" un-cloak>
    <%= yield %>
  </body>
</html>
