<%= simple_form_for memo do |f| %>

  <% if memo.errors.any? %>
    <div class="error-message">
      <%= memo.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :title, input_html: { autofocus: true } %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
